


body {
  margin: 0;
  padding: 0;
 font-size:100%;
 
}
table{
  width: auto;
}
header {

  padding-top: 10px;
  text-align: center;
  overflow: auto;
  width: 600px;
  margin: 0 auto;
  float:center;

}

p{
  margin: 0px;
}
.border-top{
  border-top: 1px solid #d6d6d6;
}
.border-bottom{
  border-bottom: 1px solid #d6d6d6;
}
.border-left{
  border-left: 1px solid #d6d6d6;
}
.border-right: {
  border-right: 1px solid #d6d6d6;
}
.border: {
  border: 1px solid #d6d6d6;
}
  

.site-title {
  font-size: 17px;
  font-weight: 700;
   font-family: 'Open Sans', sans-serif;
 
}
.sub-title{
    color:#787676;
  font-size:10px;
  font-family: 'Open Sans ', sans-serif  ;
}


.def-title{
  font-size:13px;
  font-family: 'Open Sans SemiBold' ,sans-serif  ;
}
.subdef-title{
    font-size:13px;
  color:#787676;
  font-family:  'Open Sans regular', sans-serif ;
}



.learningwordMasculine{
  color:#4db2ed;
   font-family: 'Open Sans', sans-serif;
 font-weight: 600;
 font-size: 16px;
    
}
.learningwordFeminine{
  color:#ff6edf;
   font-family: 'Open Sans', sans-serif;
 font-weight: 600;
 font-size: 16px;
  
}
.learningwordNeutral{
  color:#a08449;
   font-family: 'Open Sans', sans-serif;
 font-weight: 600;
 font-size: 16px;
  
}

.translationwords{
  color:#787676;
  font-family: 'Open Sans', sans-serif;
  font-weight: 400;
  font-size: 13.5px;


}

.word{
 font-family: 'Open Sans', sans-serif;
 font-weight: 600;
 font-size: 13.5px;
}



   iframe {
        max-width: 100% !important;
        width: 1050px !important;
        height: 300 !important;
        border-style: none;
    }


.gender1 { grid-area: gender1;
  display: flex;
  font-family: 'Open Sans', sans-serif;
  font-weight: 300;
  justify-content: space-evenly;
  align-items: center;
  }

.persons1 { grid-area: persons1;
  display: flex;
  font-family: 'Open Sans', sans-serif;
  font-weight: 300;
  justify-content: space-evenly;
  align-items: center;
  }

.persons2 { grid-area: persons2;
  display: flex;
  font-family: 'Open Sans', sans-serif;
  font-weight: 300;
  justify-content: space-evenly;
  align-items: center;
  }

.gender2 { grid-area: gender2;
  display: flex;
  font-family: 'Open Sans', sans-serif;
  font-weight: 300;
  justify-content: space-evenly;
  align-items: center;
  }

.persons3 { grid-area: persons3;
  display: flex;
  font-family: 'Open Sans', sans-serif;
  font-weight: 300;
  justify-content: space-evenly;
  align-items: center;
  }

.persons4 { grid-area: persons4; 
  display: flex;
  font-family: 'Open Sans', sans-serif;
  font-weight: 300;
  justify-content: space-evenly;
  align-items: center;}

.gender3 { grid-area: gender3;
  display: flex;
  font-family: 'Open Sans', sans-serif;
  font-weight: 300;
  justify-content: space-evenly;
  align-items: center;
  }

.persons5 { grid-area: persons5;
  display: flex;
  font-family: 'Open Sans', sans-serif;
  font-weight: 300;
  justify-content: space-evenly;
  align-items: center;
  }

.persons6 { grid-area: persons6; 
  display: flex;
  font-family: 'Open Sans', sans-serif;
  font-weight: 300;
  justify-content: space-evenly;
  align-items: center;
  }
  .persons7 { grid-area: persons7; 
  display: flex;
  font-family: 'Open Sans', sans-serif;
  font-weight: 300;
  justify-content: space-evenly;
  align-items: center;
  }
  .persons8 { grid-area: persons8; 
  display: flex;
  font-family: 'Open Sans', sans-serif;
  font-weight: 300;
  justify-content: space-evenly;
  align-items: center;
  }
  .persons9 { grid-area: persons9; 
  display: flex;
  font-family: 'Open Sans', sans-serif;
  font-weight: 300;
  justify-content: space-evenly;
  align-items: center;
  }

  .transpers1 { grid-area: transpers1; 
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  }

.transpers2 { grid-area: transpers2; 
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  }

.transpers3 { grid-area: transpers3; 
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  }
  .transpers4 { grid-area: transpers4; 
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  }

 .transpers5 { grid-area: transpers5; 
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  }
  .transpers6 { grid-area: transpers6; 
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  }





    .word10 { grid-area: word10;
padding-top: 5px; 
  display: flex;
  justify-content: space-evenly;
  align-items: center;
}
    .word11 { grid-area: word11; 
padding-top: 5px; 
  display: flex;
  justify-content: space-evenly;
  align-items: center;
}
    .word12 { grid-area: word12; 
padding-top: 5px; 
  display: flex;
  justify-content: space-evenly;
  align-items: center;
}
    .word13 { grid-area: word13; 
padding-top: 5px; 
  display: flex;
  justify-content: space-evenly;
  align-items: center;
}
      .word14 { grid-area: word14; 
padding-top: 5px; 
  display: flex;
  justify-content: space-evenly;
  align-items: center;
}
      .word15 { grid-area: word15; 
padding-top: 5px; 
  display: flex;
  justify-content: space-evenly;
  align-items: center;
}
      .word16 { grid-area: word16; 
padding-top: 5px; 
  display: flex;
  justify-content: space-evenly;
  align-items: center;
}
      .word17 { grid-area: word17; 
padding-top: 5px; 
  display: flex;
  justify-content: space-evenly;
  align-items: center;
}
      .word18 { grid-area: word18; 
padding-top: 5px; 
  display: flex;
  justify-content: space-evenly;
  align-items: center;
}


.word20 { grid-area: word20; 
padding-top: 5px; 
  display: flex;
  justify-content: space-evenly;
  align-items: center;
}
.word21 { grid-area: word21; 
padding-top: 5px; 
  display: flex;
  justify-content: space-evenly;
  align-items: center;
}
.word22 { grid-area: word22; 
padding-top: 5px; 
  display: flex;
  justify-content: space-evenly;
  align-items: center;
}
.word23 { grid-area: word23; 
padding-top: 5px; 
  display: flex;
  justify-content: space-evenly;
  align-items: center;
}
.word24 { grid-area: word24; 
padding-top: 5px; 
  display: flex;
  justify-content: space-evenly;
  align-items: center;
}
.word25 { grid-area: word25;
  display: flex; 
padding-top: 5px; 
  justify-content: space-evenly;
  align-items: center;
}
.word26 { grid-area: word26;
  display: flex; 
padding-top: 5px; 
  justify-content: space-evenly;
  align-items: center;
}
.word27 { grid-area: word27;
  display: flex; 
padding-top: 5px; 
  justify-content: space-evenly;
  align-items: center;
}
.word28 { grid-area: word28;
  display: flex; 
padding-top: 5px; 
  justify-content: space-evenly;
  align-items: center;
}




  .word30 { grid-area: word30; 
padding-top: 5px; 
  display: flex;
  justify-content: space-evenly;
  align-items: center;
}
.word31 { grid-area: word31; 
padding-top: 5px; 
  display: flex;
  justify-content: space-evenly;
  align-items: center;
}
.word32 { grid-area: word32; 
padding-top: 5px; 
  display: flex;
  justify-content: space-evenly;
  align-items: center;
}
.word33 { grid-area: word33; 
padding-top: 5px; 
  display: flex;
  justify-content: space-evenly;
  align-items: center;
}
.word34 { grid-area: word34; 
padding-top: 5px; 
  display: flex;
  justify-content: space-evenly;
  align-items: center;
}
.word35 { grid-area: word35; 
padding-top: 5px; 
  display: flex;
  justify-content: space-evenly;
  align-items: center;
}
.word36 { grid-area: word36; 
padding-top: 5px; 
  display: flex;
  justify-content: space-evenly;
  align-items: center;
}
.word37 { grid-area: word37; 
padding-top: 5px; 
  display: flex;
  justify-content: space-evenly;
  align-items: center;
}
.word38 { grid-area: word38; 
padding-top: 5px; 
  display: flex;
  justify-content: space-evenly;
  align-items: center;
}


.word40 { grid-area: word40; 
padding-top: 5px; 
  display: flex;
  justify-content: space-evenly;
  align-items: center;
}
  .word41 { grid-area: word41; 
padding-top: 5px; 
  display: flex;
  justify-content: space-evenly;
  align-items: center;
}
  .word42 { grid-area: word42; 
padding-top: 5px; 
  display: flex;
  justify-content: space-evenly;
  align-items: center;
}
  .word43 { grid-area: word43; 
padding-top: 5px; 
  display: flex;
  justify-content: space-evenly;
  align-items: center;
}
  .word44 { grid-area: word44; 
padding-top: 5px; 
  display: flex;
  justify-content: space-evenly;
  align-items: center;
}
    .word45 { grid-area: word45; 
padding-top: 5px; 
  display: flex;
  justify-content: space-evenly;
  align-items: center;
}
    .word46 { grid-area: word46; 
padding-top: 5px; 
  display: flex;
  justify-content: space-evenly;
  align-items: center;
}
    .word47 { grid-area: word47; 
padding-top: 5px; 
  display: flex;
  justify-content: space-evenly;
  align-items: center;
}
    .word48 { grid-area: word48; 
padding-top: 5px; 
  display: flex;
  justify-content: space-evenly;
  align-items: center;
}

.word50 { grid-area: word50; 
padding-top: 5px; 
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  
border-right: 1px solid #d6d6d6;}
  .word51 { grid-area: word51; 
padding-top: 5px; 
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  
border-right: 1px solid #d6d6d6;}
  .word52 { grid-area: word52; 
padding-top: 5px; 
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  
border-right: 1px solid #d6d6d6;}
  .word53 { grid-area: word53; 
padding-top: 5px; 
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  
border-right: 1px solid #d6d6d6;}
  .word54 { grid-area: word54; 
padding-top: 5px; 
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  
border-right: 1px solid #d6d6d6;}
    .word55 { grid-area: word55; 
padding-top: 5px; 
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  
border-right: 1px solid #d6d6d6;}
    .word56 { grid-area: word56; 
padding-top: 5px; 
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  
border-right: 1px solid #d6d6d6;}
    .word57 { grid-area: word57; 
padding-top: 5px; 
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  
border-right: 1px solid #d6d6d6;}
    .word58 { grid-area: word58; 
padding-top: 5px; 
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  
border-right: 1px solid #d6d6d6;}

  .trans10 { grid-area: trans10; 
padding-bottom: 5px;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
}
    .trans11 { grid-area: trans11; 
padding-bottom: 5px;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
}
    .trans12 { grid-area: trans12; 
padding-bottom: 5px;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
}
    .trans13 { grid-area: trans13; 
padding-bottom: 5px;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
}
      .trans14 { grid-area: trans14; 
padding-bottom: 5px;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
}
      .trans15 { grid-area: trans15; 
padding-bottom: 5px;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
}
      .trans16 { grid-area: trans16; 
padding-bottom: 5px;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
}
      .trans17 { grid-area: trans17; 
padding-bottom: 5px;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
}
      .trans18 { grid-area: trans18; 
padding-bottom: 5px;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
}



.trans20 { grid-area: trans20; 
padding-bottom: 5px;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
}
.trans21 { grid-area: trans21; 
padding-bottom: 5px;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
}
.trans22 { grid-area: trans22; 
padding-bottom: 5px;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
}
.trans23 { grid-area: trans23; 
padding-bottom: 5px;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
}
.trans24 { grid-area: trans24; 
padding-bottom: 5px;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
}
.trans25 { grid-area: trans25; 
padding-bottom: 5px;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
}
.trans26 { grid-area: trans26; 
padding-bottom: 5px;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
}
.trans27 { grid-area: trans27; 
padding-bottom: 5px;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
}
.trans28 { grid-area: trans28; 
padding-bottom: 5px;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
}


  .trans30 { grid-area: trans30; 
padding-bottom: 5px;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
}
.trans31 { grid-area: trans31; 
padding-bottom: 5px;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
}
.trans32 { grid-area: trans32; 
padding-bottom: 5px;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
}
.trans33 { grid-area: trans33; 
padding-bottom: 5px;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
}
.trans34 { grid-area: trans34; 
padding-bottom: 5px;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
}
.trans35 { grid-area: trans35; 
padding-bottom: 5px;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
}
.trans36 { grid-area: trans36; 
padding-bottom: 5px;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
}
.trans37 { grid-area: trans37; 
padding-bottom: 5px;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
}
.trans38 { grid-area: trans38; 
padding-bottom: 5px;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
}


.trans40 { grid-area: trans40; 
padding-bottom: 5px;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
}
  .trans41 { grid-area: trans41; 
padding-bottom: 5px;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
}
  .trans42 { grid-area: trans42; 
padding-bottom: 5px;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
}
  .trans43 { grid-area: trans43; 
padding-bottom: 5px;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
}
  .trans44 { grid-area: trans44; 
padding-bottom: 5px;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
}
    .trans45 { grid-area: trans45; 
padding-bottom: 5px;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
}
    .trans46 { grid-area: trans46; 
padding-bottom: 5px;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
}   
 .trans47 { grid-area: trans47; 
padding-bottom: 5px;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
}    
.trans48 { grid-area: trans48; 
padding-bottom: 5px;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
}

.trans50 { grid-area: trans50; 
padding-bottom: 5px;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  
border-right: 1px solid #d6d6d6;}
  .trans51 { grid-area: trans51; 
padding-bottom: 5px;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  
border-right: 1px solid #d6d6d6;}
  .trans52 { grid-area: trans52; 
padding-bottom: 5px;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  
border-right: 1px solid #d6d6d6;}
  .trans53 { grid-area: trans53; 
padding-bottom: 5px;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  
border-right: 1px solid #d6d6d6;}
  .trans54 { grid-area: trans54; 
padding-bottom: 5px;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  
border-right: 1px solid #d6d6d6;}
    .trans55 { grid-area: trans55; 
padding-bottom: 5px;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  
border-right: 1px solid #d6d6d6;}
    .trans56 { grid-area: trans56; 
padding-bottom: 5px;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  
border-right: 1px solid #d6d6d6;}
    .trans57 { grid-area: trans57; 
padding-bottom: 5px;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  
border-right: 1px solid #d6d6d6;}
    .trans58 { grid-area: trans58; 
padding-bottom: 5px;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  
border-right: 1px solid #d6d6d6;}




.white{
  background-color: #FFFFFF;
}

.lightdark{
background-color: #f9f9f9;
}
.semidark{
  background-color: #f5f5f5;
}
.dark{
  background-color: #787676;
}


@media (min-width: 600px) {


.grid-container {

 /*max-width: 60%;*/

  margin: 10px;
  text-align: center;
  display: grid;

  grid-template:
    'gender1 persons1 word10 word20 word30 word40 word50'
    'gender1 persons1 trans10 trans20 trans30 trans40 trans50'

    'gender1 persons2 word11 word21 word31 word41 word51'
    'gender1 persons2 trans11 trans21 trans31 trans41 trans51'


    'gender2 persons3 word12 word22 word32 word42 word52'
    'gender2 persons3 trans12 trans22 trans32 trans42 trans52'

    'gender2 persons4 word13 word23 word33 word43 word53'
    'gender2 persons4 trans13 trans23 trans33 trans43 trans53'


    'gender3 persons5 word14 word24 word34 word44 word54'
    'gender3 persons5 trans14 trans24 trans34 trans44 trans54'

    'gender3 persons6 word15 word25 word35 word45 word55'
    'gender3 persons6 trans15 trans25 trans35 trans45 trans55'
    ;
    /*grid-gap: 10px;*/
    
  width:600px;
  
  grid-template-columns: auto 100px ;
   grid-template-rows: auto;
   font-size: 14px;
    margin:0 auto;
    padding-top: 15px;
    padding-bottom: 15px;
    }

.grid-container>div {

   border-right: 1px solid #d6d6d6;
  text-align: center;

 }


.grid-container2 {

 max-width: 60%;
  margin: 10px;
  text-align: center;
  display: grid;

  grid-template:
    'gender1 persons1   word10  word20  word30  word40  word50'
    'gender1 transpers1 trans10 trans20 trans30 trans40 trans50'

    'gender1 persons2   word11  word21  word31  word41  word51'
    'gender1 transpers2 trans11 trans21 trans31 trans41 trans51'

    'gender1 persons3   word12  word22  word32  word42  word52'
    'gender1 transpers3 trans12 trans22 trans32 trans42 trans52'

    'gender1 persons4   word13  word23  word33  word43  word53'
    'gender1 transpers4 trans13 trans23 trans33 trans43 trans53'



    ;
    /*grid-gap: 10px;*/
    
  width:600px;
  
  grid-template-columns: auto auto ;
   grid-template-rows: auto;
      font-size: 14px;
    margin:0 auto;
        padding-top: 15px;
    padding-bottom: 15px;
    }

.grid-container2>div {

   border-right: 1px solid #d6d6d6;
  text-align: center;

 }



.grid-container3 {

 max-width: 60%;
  margin: 10px;
  text-align: center;
  display: grid;

  grid-template:
    'gender1 persons1 word10 word20 word30 word40 word50'
    'gender1 persons1 trans10 trans20 trans30 trans40 trans50'




    'gender2 persons2 word11 word21 word31 word41 word51'
    'gender2 persons2 trans11 trans21 trans31 trans41 trans51'

    'gender2 persons3 word12 word22 word32 word42 word52'
    'gender2 persons3 trans12 trans22 trans32 trans42 trans52'

    'gender2 persons4 word13 word23 word33 word43 word53'
    'gender2 persons4 trans13 trans23 trans33 trans43 trans53'

    'gender2 persons5 word14 word24 word34 word44 word54'
    'gender2 persons5 trans14 trans24 trans34 trans44 trans54'

    'gender2 persons6 word15 word25 word35 word45 word55'
    'gender2 persons6 trans15 trans25 trans35 trans45 trans55'

    'gender2 persons7 word16 word26 word36 word46 word56'
    'gender2 persons7 trans16 trans26 trans36 trans46 trans56'




    'gender3 persons8 word17 word27 word37 word47 word57'
    'gender3 persons8 trans17 trans27 trans37 trans47 trans57'

    'gender3 persons9 word18 word28 word38 word48 word58'
    'gender3 persons9 trans18 trans28 trans38 trans48 trans58'
    ;
    /*grid-gap: 10px;*/
    
  width:700px;
  
  grid-template-columns: auto auto ;
   grid-template-rows: auto;
      font-size: 14px;
    margin:0 auto;
    padding-top: 15px;
    padding-bottom: 15px;
    }

.grid-container3>div {

   border-right: 1px solid #d6d6d6;
  text-align: center;

 }


.grid-container4 {

 max-width: 60%;
  margin: 10px;
  text-align: center;
  display: grid;

  grid-template:
    'gender1 persons1   word10  word20  word30  word40  word50'
    'gender1 transpers1 trans10 trans20 trans30 trans40 trans50'

    'gender1 persons2   word11  word21  word31  word41  word51'
    'gender1 transpers2 trans11 trans21 trans31 trans41 trans51'

    'gender1 persons3   word12  word22  word32  word42  word52'
    'gender1 transpers3 trans12 trans22 trans32 trans42 trans52'


    'gender2 persons4   word13  word23  word33  word43  word53'
    'gender2 transpers4 trans13 trans23 trans33 trans43 trans53'

    'gender2 persons5   word14  word24  word34  word44  word54'
    'gender2 transpers5 trans14 trans24 trans34 trans44 trans54'

    'gender2 persons6   word15  word25  word35  word45  word55'
    'gender2 transpers6 trans15 trans25 trans35 trans45 trans55'
    ;
    /*grid-gap: 10px;*/
    
  width:600px;
  
  grid-template-columns: auto auto ;
   grid-template-rows: auto;
      font-size: 14px;
    margin:0 auto;
    padding-top: 15px;
    padding-bottom: 15px;
    }

.grid-container4>div {

   border-right: 1px solid #d6d6d6;
  text-align: center;

 }

.grid-container5 {

 max-width: 60%;
  margin: 10px;
  text-align: center;
  display: grid;

  grid-template:
    'gender1 persons1 word10 word20 word30 word40 word50'
    'gender1 persons1 trans10 trans20 trans30 trans40 trans50'

    'gender2 persons3 word12 word22 word32 word42 word52'
    'gender2 persons3 trans12 trans22 trans32 trans42 trans52'

    'gender2 persons4 word13 word23 word33 word43 word53'
    'gender2 persons4 trans13 trans23 trans33 trans43 trans53'

    ;
    /*grid-gap: 10px;*/
    
  width:600px;
  
  grid-template-columns: auto 100px ;
   grid-template-rows: auto;
      font-size: 14px;
    margin:0 auto;
    padding-top: 15px;
    padding-bottom: 15px;
    }

.grid-container5>div {

   border-right: 1px solid #d6d6d6;
  text-align: center;

 }

 .grid-container6 {

 max-width: 60%;
  margin: 10px;
  text-align: center;
  display: grid;

  grid-template:
    'gender1 persons1 word10 word20 word30 word40 word50'
    'gender1 persons1 trans10 trans20 trans30 trans40 trans50'


    ;
    /*grid-gap: 10px;*/
    
  width:600px;
  
  grid-template-columns: auto 100px ;
   grid-template-rows: auto;
      font-size: 14px;
    margin:0 auto;
    padding-top: 15px;
    padding-bottom: 15px;
    }

.grid-container6>div {

   border-right: 1px solid #d6d6d6;
  text-align: center;

 }




}





.bloc{
  border: 1px solid #555;
  padding: 1em;
}

.site{
  max-width: auto;
  margin: auto;
  display: grid;
  grid-gap: 1em;
  grid-template-column: 1fr;
  grid-template-areas: 
    "header"
    "sidebar"
    "content"
    "sidebar2"
    "footer"
  
}


@media screen and (min-width: 700px){
  .site{
    grid-template-columns: 20px 1fr 1fr 1fr 20px;
    grid-template-areas: 
    ". header header header ."
    ". sidebar2 content sidebar ."
    ". footer footer footer ."
  }
}

.header{
 /* grid-column-start: 1;
  grid-column-end: 3;
  grid-row-start: 1;
  grid-row-end: 2;*/
  /*grid-column: 1 / 3;
  grid-row: 1 / 2;*/
  grid-area: header;
  height: 100px;
}


.content{
  padding: 1px;
  grid-area: content;
  width: 1050px;
  height: 338px;
}

.sidebar{
  grid-area: sidebar;
  width: 70px;
  height: 100%;
}

.sidebar2{
  grid-area: sidebar2;
  width: 70px;
  height: 100%;
}

.footer{
  margin: 30px;
  width: 1200px;
  grid-area: footer;
}



.select-style {
  -moz-appearance: none;
  -webkit-appearance:none;

   font-family: 'Open Sans', sans-serif;
 font-weight: 600;
    border: 1px solid #ccc;
    width: auto;
    
      padding-right: 20px;
     
    height: 25px;
    border-radius: 3px;
    overflow: auto;
    background:  url("caret-down-solid.svg") no-repeat 90% 50% ;
    background-size: 7px;
    padding-left: 10px;
  
}
.pos_right {

  overflow: auto;
   position: absolute ;
   margin-top: 20px;
   margin-left: -300px;
   clear: left;

}
.pos_rightforverbs {

  overflow: auto;
   position: absolute ;
   margin-top: 20px;
   margin-left: -350px;
   clear: left;

}

.select-style select {
    font-family: 'Open Sans', sans-serif;
 font-weight: 600;
    padding: 5px 8px;
    width: 130%;
    border: none;
    box-shadow: none;
    background: transparent;
    background-image: none;
    -webkit-appearance: none;
}

.select-style select:focus {
    outline: none;

}

