

html{
  height: 100%;
}

body {
  margin: 0;
  padding: 0;
 font-size:100%;
 min-height: 100%;

 
}
table{
  width: auto;
}
header {

  padding-top: 10px;
  text-align: center;
  overflow: auto;
  width: 600px;
  margin: 0 auto;
  float:center;

}

p{
  margin: 0px;
  font-size: 0;  
}
.border-top{
  border-top: 1px solid #d6d6d6;
}
.border-bottom{
  border-bottom: 1px solid #d6d6d6;
}
.border-left{
  border-left: 1px solid #d6d6d6;
}
.border-right{
  border-right: 1px solid #d6d6d6;
}
.border {
  border: 1px solid #d6d6d6;
}
  

.sub-title{
    color:#787676;
  font-size:11px;
  font-family: 'Open Sans ', sans-serif  ;
}


.def-title{
  font-size:13px;
  font-family: 'Open Sans SemiBold' ,sans-serif  ;
}
.subdef-title{
    font-size:13px;
  color:#787676;
  font-family:  'Open Sans regular', sans-serif ;
}



.learningwordMasculine{
  color:#4db2ed;
   font-family: 'Open Sans', sans-serif;
 font-weight: 600;
 font-size: 16px;
    
}
.learningwordFeminine{
  color:#ff6edf;
   font-family: 'Open Sans', sans-serif;
 font-weight: 600;
 font-size: 16px;
  
}
.learningwordNeutral{
  color:#a08449;
   font-family: 'Open Sans', sans-serif;
 font-weight: 600;
 font-size: 16px;
  
}
.learningword{
   font-family: 'Open Sans', sans-serif;
 font-weight: 600;
 font-size: 16px;
  
}

.translationwords{
  color:#787676;
  font-family: 'Open Sans', sans-serif;
  font-weight: 400;
  font-size: 13.5px;


}

.word{
 font-family: 'Open Sans', sans-serif;
 font-weight: 600;
 font-size: 13.5px;
}



   iframe {
   overflow: hidden;
  
  position: relative;
        width: 100%;
        height: 100%; 
        border-style: none;
    }



.main1 { grid-area: main1;
  display: flex;
  font-family: 'Open Sans', sans-serif;
  font-weight: 300;
  justify-content: space-evenly;
  align-items: center;
  }
.main2 { grid-area: main2;
  display: flex;
  font-family: 'Open Sans', sans-serif;
  font-weight: 300;
  justify-content: space-evenly;
  align-items: center;
  }
  .main3 { grid-area: main3;
  display: flex;
  font-family: 'Open Sans', sans-serif;
  font-weight: 300;
  justify-content: space-evenly;
  align-items: center;
  }

  .m1sub1 { grid-area: m1sub1;
  display: flex;
  font-family: 'Open Sans', sans-serif;
  font-weight: 300;
  justify-content: space-evenly;
  align-items: center;
  }
  .m1sub2 { grid-area: m1sub2;
  display: flex;
  font-family: 'Open Sans', sans-serif;
  font-weight: 300;
  justify-content: space-evenly;
  align-items: center;
  }
  .m1sub3 { grid-area: m1sub3;
  display: flex;
  font-family: 'Open Sans', sans-serif;
  font-weight: 300;
  justify-content: space-evenly;
  align-items: center;
  }
  .m1sub4 { grid-area: m1sub4;
  display: flex;
  font-family: 'Open Sans', sans-serif;
  font-weight: 300;
  justify-content: space-evenly;
  align-items: center;
  }

 .m1sub1A { grid-area: m1sub1A;
  display: flex;
  font-family: 'Open Sans', sans-serif;
  font-weight: 300;
  justify-content: space-evenly;
  align-items: center;
  }
  .m1sub2A { grid-area: m1sub2A;
  display: flex;
  font-family: 'Open Sans', sans-serif;
  font-weight: 300;
  justify-content: space-evenly;
  align-items: center;
  }
  .m1sub3A { grid-area: m1sub3A;
  display: flex;
  font-family: 'Open Sans', sans-serif;
  font-weight: 300;
  justify-content: space-evenly;
  align-items: center;
  }
  .m1sub4A { grid-area: m1sub4A;
  display: flex;
  font-family: 'Open Sans', sans-serif;
  font-weight: 300;
  justify-content: space-evenly;
  align-items: center;
  }

 .m1sub1B { grid-area: m1sub1B;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  }
  .m1sub2B { grid-area: m1sub2B;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  }
  .m1sub3B { grid-area: m1sub3B;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  }
  .m1sub4B { grid-area: m1sub4B;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  }

  .m2sub1 { grid-area: m2sub1;
  display: flex;
  font-family: 'Open Sans', sans-serif;
  font-weight: 300;
  justify-content: space-evenly;
  align-items: center;
  }
  .m2sub2 { grid-area: m2sub2;
  display: flex;
  font-family: 'Open Sans', sans-serif;
  font-weight: 300;
  justify-content: space-evenly;
  align-items: center;
  }
  .m2sub3 { grid-area: m2sub3;
  display: flex;
  font-family: 'Open Sans', sans-serif;
  font-weight: 300;
  justify-content: space-evenly;
  align-items: center;
  }
  .m2sub4 { grid-area: m2sub4;
  display: flex;
  font-family: 'Open Sans', sans-serif;
  font-weight: 300;
  justify-content: space-evenly;
  align-items: center;
  }
  .m2sub5 { grid-area: m2sub5;
  display: flex;
  font-family: 'Open Sans', sans-serif;
  font-weight: 300;
  justify-content: space-evenly;
  align-items: center;
  }
  .m2sub6 { grid-area: m2sub6;
  display: flex;
  font-family: 'Open Sans', sans-serif;
  font-weight: 300;
  justify-content: space-evenly;
  align-items: center;
  }

    .m2sub1A { grid-area: m2sub1A;
  display: flex;
  font-family: 'Open Sans', sans-serif;
  font-weight: 300;
  justify-content: space-evenly;
  align-items: center;
  }
  .m2sub2A { grid-area: m2sub2A;
  display: flex;
  font-family: 'Open Sans', sans-serif;
  font-weight: 300;
  justify-content: space-evenly;
  align-items: center;
  }
  .m2sub3A { grid-area: m2sub3A;
  display: flex;
  font-family: 'Open Sans', sans-serif;
  font-weight: 300;
  justify-content: space-evenly;
  align-items: center;
  }
  .m2sub4A { grid-area: m2sub4A;
  display: flex;
  font-family: 'Open Sans', sans-serif;
  font-weight: 300;
  justify-content: space-evenly;
  align-items: center;
  }


    .m2sub1B { grid-area: m2sub1B;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  }
  .m2sub2B { grid-area: m2sub2B;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  }
  .m2sub3B { grid-area: m2sub3B;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  }
  .m2sub4B { grid-area: m2sub4B;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  }

  .m3sub1 { grid-area: m3sub1;
  display: flex;
  font-family: 'Open Sans', sans-serif;
  font-weight: 300;
  justify-content: space-evenly;
  align-items: center;
  }  
  .m3sub2 { grid-area: m3sub2;
  display: flex;
  font-family: 'Open Sans', sans-serif;
  font-weight: 300;
  justify-content: space-evenly;
  align-items: center;
  }  
  .m3sub3 { grid-area: m3sub3;
  display: flex;
  font-family: 'Open Sans', sans-serif;
  font-weight: 300;
  justify-content: space-evenly;
  align-items: center;
  }
  .m3sub4 { grid-area: m3sub4;
  display: flex;
  font-family: 'Open Sans', sans-serif;
  font-weight: 300;
  justify-content: space-evenly;
  align-items: center;
  }


.R1word1A {grid-area: R1word1A;
padding-top: 5px; 
  display: flex;
  justify-content: center;
  align-items: center;
}

.R1word2A {grid-area: R1word2A;
padding-top: 5px; 
  display: flex;
  justify-content: center;
  align-items: center;
}
.R1word3A {grid-area: R1word3A;
padding-top: 5px; 
  display: flex;
  justify-content: center;
  align-items: center;
}

.R1word4A {grid-area: R1word4A;
padding-top: 5px; 
  display: flex;
  justify-content: center;
  align-items: center;
}

.R1word5A {grid-area: R1word5A;
padding-top: 5px; 
  display: flex;
  justify-content: center;
  align-items: center;
  border-right: 1px solid #d6d6d6;
}
.R5word1A {grid-area: R5word1A;
padding-top: 5px; 
  display: flex;
  justify-content: center;
  align-items: center;
}

.R5word2A {grid-area: R5word2A;
padding-top: 5px; 
  display: flex;
  justify-content: center;
  align-items: center;
}
.R5word3A {grid-area: R5word3A;
padding-top: 5px; 
  display: flex;
  justify-content: center;
  align-items: center;
}

.R5word4A {grid-area: R5word4A;
padding-top: 5px; 
  display: flex;
  justify-content: center;
  align-items: center;
}

.R5word5A {grid-area: R5word5A;
padding-top: 5px; 
  display: flex;
  justify-content: center;
  align-items: center;
  border-right: 1px solid #d6d6d6;
}


.R3word1A {grid-area: R3word1A;
padding-top: 5px; 
  display: flex;
  justify-content: center;
  align-items: center;
}

.R3word2A {grid-area: R3word2A;
padding-top: 5px; 
  display: flex;
  justify-content: center;
  align-items: center;
}
.R3word3A {grid-area: R3word3A;
padding-top: 5px; 
  display: flex;
  justify-content: center;
  align-items: center;
}

.R3word4A {grid-area: R3word4A;
padding-top: 5px; 
  display: flex;
  justify-content: center;
  align-items: center;
}

.R3word5A {grid-area: R3word5A;
padding-top: 5px; 
  display: flex;
  justify-content: center;
  align-items: center;
  border-right: 1px solid #d6d6d6;
}


.R7word1A {grid-area: R7word1A;
padding-top: 5px; 
  display: flex;
  justify-content: center;
  align-items: center;
}

.R7word2A {grid-area: R7word2A;
padding-top: 5px; 
  display: flex;
  justify-content: center;
  align-items: center;
}
.R7word3A {grid-area: R7word3A;
padding-top: 5px; 
  display: flex;
  justify-content: center;
  align-items: center;
}

.R7word4A {grid-area: R7word4A;
padding-top: 5px; 
  display: flex;
  justify-content: center;
  align-items: center;
}

.R7word5A {grid-area: R7word5A;
padding-top: 5px; 
  display: flex;
  justify-content: center;
  align-items: center;
  border-right: 1px solid #d6d6d6;
}


.R9word1A {grid-area: R9word1A;
padding-top: 5px; 
  display: flex;
  justify-content: center;
  align-items: center;
}

.R9word2A {grid-area: R9word2A;
padding-top: 5px; 
  display: flex;
  justify-content: center;
  align-items: center;
}
.R9word3A {grid-area: R9word3A;
padding-top: 5px; 
  display: flex;
  justify-content: center;
  align-items: center;
}

.R9word4A {grid-area: R9word4A;
padding-top: 5px; 
  display: flex;
  justify-content: center;
  align-items: center;
}

.R9word5A {grid-area: R9word5A;
padding-top: 5px; 
  display: flex;
  justify-content: center;
  align-items: center;
  border-right: 1px solid #d6d6d6;
}


.R11word1A {grid-area: R11word1A;
padding-top: 5px; 
  display: flex;
  justify-content: center;
  align-items: center;
}

.R11word2A {grid-area: R11word2A;
padding-top: 5px; 
  display: flex;
  justify-content: center;
  align-items: center;
}
.R11word3A {grid-area: R11word3A;
padding-top: 5px; 
  display: flex;
  justify-content: center;
  align-items: center;
}

.R11word4A {grid-area: R11word4A;
padding-top: 5px; 
  display: flex;
  justify-content: center;
  align-items: center;
}

.R11word5A {grid-area: R11word5A;
padding-top: 5px; 
  display: flex;
  justify-content: center;
  align-items: center;
  border-right: 1px solid #d6d6d6;
}


.R13word1A {grid-area: R13word1A;
padding-top: 5px; 
  display: flex;
  justify-content: center;
  align-items: center;
}

.R13word2A {grid-area: R13word2A;
padding-top: 5px; 
  display: flex;
  justify-content: center;
  align-items: center;
}
.R13word3A {grid-area: R13word3A;
padding-top: 5px; 
  display: flex;
  justify-content: center;
  align-items: center;
}

.R13word4A {grid-area: R13word4A;
padding-top: 5px; 
  display: flex;
  justify-content: center;
  align-items: center;
}

.R13word5A {grid-area: R13word5A;
padding-top: 5px; 
  display: flex;
  justify-content: center;
  align-items: center;
  border-right: 1px solid #d6d6d6;
}


.R15word1A {grid-area: R15word1A;
padding-top: 5px; 
  display: flex;
  justify-content: center;
  align-items: center;
}

.R15word2A {grid-area: R15word2A;
padding-top: 5px; 
  display: flex;
  justify-content: center;
  align-items: center;
}
.R15word3A {grid-area: R15word3A;
padding-top: 5px; 
  display: flex;
  justify-content: center;
  align-items: center;
}

.R15word4A {grid-area: R15word4A;
padding-top: 5px; 
  display: flex;
  justify-content: center;
  align-items: center;
}

.R15word5A {grid-area: R15word5A;
padding-top: 5px; 
  display: flex;
  justify-content: center;
  align-items: center;
  border-right: 1px solid #d6d6d6;
}


.R17word1A {grid-area: R17word1A;
padding-top: 5px; 
  display: flex;
  justify-content: center;
  align-items: center;
}

.R17word2A {grid-area: R17word2A;
padding-top: 5px; 
  display: flex;
  justify-content: center;
  align-items: center;
}
.R17word3A {grid-area: R17word3A;
padding-top: 5px; 
  display: flex;
  justify-content: center;
  align-items: center;
}

.R17word4A {grid-area: R17word4A;
padding-top: 5px; 
  display: flex;
  justify-content: center;
  align-items: center;
}

.R17word5A {grid-area: R17word5A;
padding-top: 5px; 
  display: flex;
  justify-content: center;
  align-items: center;
  border-right: 1px solid #d6d6d6;
}





  .R2word1B { grid-area: R2word1B; 
padding-bottom: 5px;
  display: flex;
  justify-content: center;
  align-items: center;
}
  .R2word2B { grid-area: R2word2B; 
padding-bottom: 5px;
  display: flex;
  justify-content: center;
  align-items: center;
}
  .R2word3B { grid-area: R2word3B; 
padding-bottom: 5px;
  display: flex;
  justify-content: center;
  align-items: center;
}
  .R2word4B { grid-area: R2word4B; 
padding-bottom: 5px;
  display: flex;
  justify-content: center;
  align-items: center;
}
  .R2word5B { grid-area: R2word5B; 
padding-bottom: 5px;
  display: flex;
  justify-content: center;
  align-items: center;
  border-right: 1px solid #d6d6d6;
}


  .R4word1B { grid-area: R4word1B; 
padding-bottom: 5px;
  display: flex;
  justify-content: center;
  align-items: center;
}
  .R4word2B { grid-area: R4word2B; 
padding-bottom: 5px;
  display: flex;
  justify-content: center;
  align-items: center;
}
  .R4word3B { grid-area: R4word3B; 
padding-bottom: 5px;
  display: flex;
  justify-content: center;
  align-items: center;
}
  .R4word4B { grid-area: R4word4B; 
padding-bottom: 5px;
  display: flex;
  justify-content: center;
  align-items: center;
}
  .R4word5B { grid-area: R4word5B; 
padding-bottom: 5px;
  display: flex;
  justify-content: center;
  align-items: center;
  border-right: 1px solid #d6d6d6;
}

  .R6word1B { grid-area: R6word1B; 
padding-bottom: 5px;
  display: flex;
  justify-content: center;
  align-items: center;
}
  .R6word2B { grid-area: R6word2B; 
padding-bottom: 5px;
  display: flex;
  justify-content: center;
  align-items: center;
}
  .R6word3B { grid-area: R6word3B; 
padding-bottom: 5px;
  display: flex;
  justify-content: center;
  align-items: center;
}
  .R6word4B { grid-area: R6word4B; 
padding-bottom: 5px;
  display: flex;
  justify-content: center;
  align-items: center;
}
  .R6word5B { grid-area: R6word5B; 
padding-bottom: 5px;
  display: flex;
  justify-content: center;
  align-items: center;
  border-right: 1px solid #d6d6d6;
}

  .R8word1B { grid-area: R8word1B; 
padding-bottom: 5px;
  display: flex;
  justify-content: center;
  align-items: center;
}
  .R8word2B { grid-area: R8word2B; 
padding-bottom: 5px;
  display: flex;
  justify-content: center;
  align-items: center;
}
  .R8word3B { grid-area: R8word3B; 
padding-bottom: 5px;
  display: flex;
  justify-content: center;
  align-items: center;
}
  .R8word4B { grid-area: R8word4B; 
padding-bottom: 5px;
  display: flex;
  justify-content: center;
  align-items: center;
}
  .R8word5B { grid-area: R8word5B; 
padding-bottom: 5px;
  display: flex;
  justify-content: center;
  align-items: center;
  border-right: 1px solid #d6d6d6;
}

  .R10word1B { grid-area: R10word1B; 
padding-bottom: 5px;
  display: flex;
  justify-content: center;
  align-items: center;
}
  .R10word2B { grid-area: R10word2B; 
padding-bottom: 5px;
  display: flex;
  justify-content: center;
  align-items: center;
}
  .R10word3B { grid-area: R10word3B; 
padding-bottom: 5px;
  display: flex;
  justify-content: center;
  align-items: center;
}
  .R10word4B { grid-area: R10word4B; 
padding-bottom: 5px;
  display: flex;
  justify-content: center;
  align-items: center;
}
  .R10word5B { grid-area: R10word5B; 
padding-bottom: 5px;
  display: flex;
  justify-content: center;
  align-items: center;
  border-right: 1px solid #d6d6d6;
}

  .R12word1B { grid-area: R12word1B; 
padding-bottom: 5px;
  display: flex;
  justify-content: center;
  align-items: center;
}
  .R12word2B { grid-area: R12word2B; 
padding-bottom: 5px;
  display: flex;
  justify-content: center;
  align-items: center;
}
  .R12word3B { grid-area: R12word3B; 
padding-bottom: 5px;
  display: flex;
  justify-content: center;
  align-items: center;
}
  .R12word4B { grid-area: R12word4B; 
padding-bottom: 5px;
  display: flex;
  justify-content: center;
  align-items: center;
}
  .R12word5B { grid-area: R12word5B; 
padding-bottom: 5px;
  display: flex;
  justify-content: center;
  align-items: center;
  border-right: 1px solid #d6d6d6;
}

  .R14word1B { grid-area: R14word1B; 
padding-bottom: 5px;
  display: flex;
  justify-content: center;
  align-items: center;
}
  .R14word2B { grid-area: R14word2B; 
padding-bottom: 5px;
  display: flex;
  justify-content: center;
  align-items: center;
}
  .R14word3B { grid-area: R14word3B; 
padding-bottom: 5px;
  display: flex;
  justify-content: center;
  align-items: center;
}
  .R14word4B { grid-area: R14word4B; 
padding-bottom: 5px;
  display: flex;
  justify-content: center;
  align-items: center;
}
  .R14word5B { grid-area: R14word5B; 
padding-bottom: 5px;
  display: flex;
  justify-content: center;
  align-items: center;
  border-right: 1px solid #d6d6d6;
}

  .R16word1B { grid-area: R16word1B; 
padding-bottom: 5px;
  display: flex;
  justify-content: center;
  align-items: center;
}
  .R16word2B { grid-area: R16word2B; 
padding-bottom: 5px;
  display: flex;
  justify-content: center;
  align-items: center;
}
  .R16word3B { grid-area: R16word3B; 
padding-bottom: 5px;
  display: flex;
  justify-content: center;
  align-items: center;
}
  .R16word4B { grid-area: R16word4B; 
padding-bottom: 5px;
  display: flex;
  justify-content: center;
  align-items: center;
}
  .R16word5B { grid-area: R16word5B; 
padding-bottom: 5px;
  display: flex;
  justify-content: center;
  align-items: center;
  border-right: 1px solid #d6d6d6;
}

  .R18word1B { grid-area: R18word1B; 
padding-bottom: 5px;
  display: flex;
  justify-content: center;
  align-items: center;
}
  .R18word2B { grid-area: R18word2B; 
padding-bottom: 5px;
  display: flex;
  justify-content: center;
  align-items: center;
}
  .R18word3B { grid-area: R18word3B; 
padding-bottom: 5px;
  display: flex;
  justify-content: center;
  align-items: center;
}
  .R18word4B { grid-area: R18word4B; 
padding-bottom: 5px;
  display: flex;
  justify-content: center;
  align-items: center;
}
  .R18word5B { grid-area: R18word5B; 
padding-bottom: 5px;
  display: flex;
  justify-content: center;
  align-items: center;
  border-right: 1px solid #d6d6d6;
}


.white{
  background-color: #FFFFFF;
}

.lightdark{
background-color: #f9f9f9;
}
.semidark{
  background-color: #f5f5f5;
}
.dark{
  background-color: #787676;
}


@media (min-width: 200px) {


.grid-container {

 /*max-width: 60%;*/

  text-align: center;
  display: grid;

  grid-template:
    'main1 m1sub1 R1word1A R1word2A R1word3A R1word4A R1word5A'
    'main1 m1sub1 R2word1B R2word2B R2word3B R2word4B R2word5B'

    'main1 m1sub2 R3word1A R3word2A R3word3A R3word4A R3word5A'
    'main1 m1sub2 R4word1B R4word2B R4word3B R4word4B R4word5B'


    'main2 m2sub1 R5word1A R5word2A R5word3A R5word4A R5word5A'
    'main2 m2sub1 R6word1B R6word2B R6word3B R6word4B R6word5B'

    'main2 m2sub2 R7word1A R7word2A R7word3A R7word4A R7word5A'
    'main2 m2sub2 R8word1B R8word2B R8word3B R8word4B R8word5B'


    'main3 m3sub1 R9word1A R9word2A R9word3A R9word4A R9word5A'
    'main3 m3sub1 R10word1B R10word2B R10word3B R10word4B R10word5B'

    'main3 m3sub2 R11word1A R11word2A R11word3A R11word4A R11word5A'
    'main3 m3sub2 R12word1B R12word2B R12word3B R12word4B R12word5B'
    ;
    /*grid-gap: 10px;*/
    
  width:600px;
  
  grid-template-columns: auto 100px ;
   grid-template-rows: auto;
   font-size: 14px;
    margin:0 auto;
    padding-top: 15px;
    padding-bottom: 15px;
    }

.grid-container>div {


  text-align: center;

 }


.grid-container2 {


  text-align: center;
  display: grid;

  grid-template:
    'main1 m1sub1A   R1word1A R1word2A R1word3A R1word4A R1word5A'
    'main1 m1sub1B   R2word1B R2word2B R2word3B R2word4B R2word5B'

    'main1 m1sub2A   R3word1A R3word2A R3word3A R3word4A R3word5A'
    'main1 m1sub2B   R4word1B R4word2B R4word3B R4word4B R4word5B'

    'main1 m1sub3A   R5word1A R5word2A R5word3A R5word4A R5word5A'
    'main1 m1sub3B   R6word1B R6word2B R6word3B R6word4B R6word5B'

    'main1 m1sub4A   R7word1A R7word2A R7word3A R7word4A R7word5A'
    'main1 m1sub4B   R8word1B R8word2B R8word3B R8word4B R8word5B'



    ;
    /*grid-gap: 10px;*/
    
  width:600px;
  
  grid-template-columns: auto auto ;
   grid-template-rows: auto;
      font-size: 14px;
    margin:0 auto;
        padding-top: 15px;
    padding-bottom: 15px;
    }

.grid-container2>div {

   
  text-align: center;

 }



.grid-container3 {


  text-align: center;
  display: grid;

  grid-template:
    'main1 m1sub1 R1word1A R1word2A R1word3A R1word4A R1word5A'
    'main1 m1sub1 R2word1B R2word2B R2word3B R2word4B R2word5B'


    'main2 m2sub1 R3word1A R3word2A R3word3A R3word4A R3word5A'
    'main2 m2sub1 R4word1B R4word2B R4word3B R4word4B R4word5B'

    'main2 m2sub2 R5word1A R5word2A R5word3A R5word4A R5word5A'
    'main2 m2sub2 R6word1B R6word2B R6word3B R6word4B R6word5B'

    'main2 m2sub3 R7word1A R7word2A R7word3A R7word4A R7word5A'
    'main2 m2sub3 R8word1B R8word2B R8word3B R8word4B R8word5B'

    'main2 m2sub4 R9word1A R9word2A R9word3A R9word4A R9word5A'
    'main2 m2sub4 R10word1B R10word2B R10word3B R10word4B R10word5B'

    'main2 m2sub5 R11word1A R11word2A R11word3A R11word4A R11word5A'
    'main2 m2sub5 R12word1B R12word2B R12word3B R12word4B R12word5B'

    'main2 m2sub6 R13word1A R13word2A R13word3A R13word4A R13word5A'
    'main2 m2sub6 R14word1B R14word2B R14word3B R14word4B R14word5B'




    'main3 m3sub1 R15word1A R15word2A R15word3A R15word4A R15word5A'
    'main3 m3sub1 R16word1B R16word2B R16word3B R16word4B R16word5B'

    'main3 m3sub2  R17word1A R17word2A R17word3A R17word4A R17word5A'
    'main3 m3sub2  R18word1B R18word2B R18word3B R18word4B R18word5B'
    ;
    /*grid-gap: 10px;*/
    
  width:700px;
  
  grid-template-columns: auto auto ;
   grid-template-rows: auto;
      font-size: 14px;
    margin:0 auto;
    padding-top: 15px;
    padding-bottom: 15px;
    }

.grid-container3>div {

   
  text-align: center;

 }


.grid-container4 {


  text-align: center;
  display: grid;

  grid-template:
    'main1 m1sub1A    R1word1A R1word2A R1word3A R1word4A R1word5A'
    'main1 m1sub1B    R2word1B R2word2B R2word3B R2word4B R2word5B'

    'main1 m1sub2A    R3word1A R3word2A R3word3A R3word4A R3word5A'
    'main1 m1sub2B    R4word1B R4word2B R4word3B R4word4B R4word5B'

    'main1 m1sub3A    R5word1A R5word2A R5word3A R5word4A R5word5A'
    'main1 m1sub3B    R6word1B R6word2B R6word3B R6word4B R6word5B'


    'main2 m2sub1A    R7word1A R7word2A R7word3A R7word4A R7word5A'
    'main2 m2sub1B    R8word1B R8word2B R8word3B R8word4B R8word5B'

    'main2 m2sub2A    R9word1A R9word2A R9word3A R9word4A R9word5A'
    'main2 m2sub2B    R10word1B R10word2B R10word3B R10word4B R10word5B'

    'main2 m2sub3A    R11word1A R11word2A R11word3A R11word4A R11word5A'
    'main2 m2sub3B    R12word1B R12word2B R12word3B R12word4B R12word5B'
    ;
    /*grid-gap: 10px;*/
    
  width:600px;
  
  grid-template-columns: auto auto ;
   grid-template-rows: auto;
      font-size: 14px;
    margin:0 auto;
    padding-top: 15px;
    padding-bottom: 15px;
    }

.grid-container4>div {

 
  text-align: center;

 }

.grid-container5 {

  text-align: center;
  display: grid;

  grid-template:
    'main1 m1sub1 R1word1A R1word2A R1word3A R1word4A R1word5A'
    'main1 m1sub1 R2word1B R2word2B R2word3B R2word4B R2word5B'

    'main2 m2sub1 R3word1A R3word2A R3word3A R3word4A R3word5A'
    'main2 m2sub2 R4word1B R4word2B R4word3B R4word4B R4word5B'

    'main2 m2sub3 R5word1A R5word2A R5word3A R5word4A R5word5A'
    'main2 m2sub4 R6word1B R6word2B R6word3B R6word4B R6word5B'

    ;
    /*grid-gap: 10px;*/
    
  width:600px;
  
  grid-template-columns: 100px 100px ;
   grid-template-rows: auto;
      font-size: 14px;
    margin:0 auto;
    padding-top: 15px;
    padding-bottom: 15px;
    }

.grid-container5>div {

  
  text-align: center;

 }

 .grid-container6 {

  text-align: center;
  display: grid;

  grid-template:
    'main1 m1sub1 R1word1A R1word2A R1word3A R1word4A R1word5A'
    'main1 m1sub1 R2word1B R2word2B R2word3B R2word4B R2word5B'


    ;
    /*grid-gap: 10px;*/
    
  width:600px;
  
  grid-template-columns: auto 100px ;
   grid-template-rows: auto;
      font-size: 14px;
    margin:0 auto;
    padding-top: 15px;
    padding-bottom: 15px;
    }

.grid-container6>div {


  text-align: center;

 }


 .grid-container7 {

  text-align: center;
  display: grid;

  grid-template:
    'main1 m1sub1 R1word1A R1word2A R1word3A R1word4A R1word5A'
    'main1 m1sub1 R2word1B R2word2B R2word3B R2word4B R2word5B'

    'main2 m2sub1 R3word1A R3word2A R3word3A R3word4A R3word5A'
    'main2 m2sub1 R4word1B R4word2B R4word3B R4word4B R4word5B'

    'main2 m2sub2 R5word1A R5word2A R5word3A R5word4A R5word5A'
    'main2 m2sub2 R6word1B R6word2B R6word3B R6word4B R6word5B'

    ;
    /*grid-gap: 10px;*/
    
  width:600px;
  
  grid-template-columns: 100px auto/*15px*/ ;
   grid-template-rows: auto;
      font-size: 14px;
    margin:0 auto;
    padding-top: 15px;
    padding-bottom: 15px;
    }

.grid-container7>div {


  text-align: center;

 }




}





.bloc{
  border: 1px solid #555;
  padding: 0px;
}

.site{
  max-width: auto;
  margin: auto;
  display: grid;
  grid-gap: 0px;
  grid-template-column: 1fr;
  grid-template-areas: 
    "header"
    "sidebar"
    "content"
    "sidebar2"
    "footer"
  
}


@media screen and (min-width: 100px){
  .site{
    grid-template-columns: 145px auto 145px;
    grid-template-areas: 
    " header header header "
    " sidebar2 content sidebar "
    " footer footer footer "

  }
}

.header{
 /* grid-column-start: 1;
  grid-column-end: 3;
  grid-row-start: 1;
  grid-row-end: 2;*/
  /*grid-column: 1 / 3;
  grid-row: 1 / 2;*/
  grid-area: header;
  height: 90px;
}


.content{
  padding: 1px;
  grid-area: content;
  height: 385px;
}

.sidebar{
  grid-area: sidebar;
  height: 100%;
}

.sidebar2{
  grid-area: sidebar2;
  height: 100%;
}

.footer{
  margin: 0px;
  width: auto;
  height: 100px;
  grid-area: footer;
}



.select-style {
  -moz-appearance: none;
  -webkit-appearance:none;

   font-family: 'Open Sans', sans-serif;
 font-weight: 600;
    border: 1px solid #ccc;
    width: auto;
    
      padding-right: 20px;
     
    height: 25px;
    border-radius: 3px;
    overflow: auto;
    background:  url("caret-down-solid.svg") no-repeat 90% 50% ;
    background-size: 7px;
    padding-left: 10px;
  
}
.pos_right {

  overflow: auto;
   position: absolute ;
   margin-top: 20px;
   margin-left: -300px;
   clear: left;

}
.pos_rightforverbs {

  overflow: auto;
   position: absolute ;
   margin-top: 20px;
   margin-left: -350px;
   clear: left;

}

.select-style select {
    font-family: 'Open Sans', sans-serif;
 font-weight: 600;
    padding: 5px 8px;
    width: 130%;
    border: none;
    box-shadow: none;
    background: transparent;
    background-image: none;
    -webkit-appearance: none;
}

.select-style select:focus {
    outline: none;

}

      .headerbox {
        display: flex;
        width: auto;
        flex-direction: row;
         align-content: space-between;
         align-items: baseline;

    }
    .headerbox>div {
        flex: 1 2 150px;
    }


.site-title {
  font-size: 17px;
  font-weight: 700;
   font-family: 'Open Sans', sans-serif;
 
}

.totheleft{
  padding-left: 50px;
}

.endleft{
  margin-left: 50px;
}

span {
   word-spacing: 0px;
 
}

 stack{display:block;
  margin:0;
  padding:0;
  border:0; 
 }

 .othergrey{
  color:#C0C0C0;
 }


 div:blank {
   display: block;
}

 p:blank {
   display: block;
}

 sup:blank {
   display: block;
}

.paddingleftright{
 margin-left: 5px;
 margin-right: 5px;
}



 .main-grid {

  text-align: center;
  display: grid;

  grid-template:
    'arrow-left grammar arrow-right'

    ;
    /*grid-gap: 10px;*/
  
  grid-template-columns: auto ;
   grid-template-rows: auto;
      font-size: 14px;
    margin:0 auto;

    }

.main-grid>div {

  text-align: center;

 }

 .arrow-left{
  grid-area: arrow-left;
   align-self: center;
    place-self:right;
    transform: scale(0.8, 0.8);
-ms-transform: scale(0.8, 0.8);
-webkit-transform: scale(0.8, 0.8);
   }

  .arrow-right{
 grid-area: arrow-right;
  align-self: center;
  transform: scale(0.8, 0.8);
-ms-transform: scale(0.8, 0.8);
-webkit-transform: scale(0.8, 0.8);
   }

